services:
  backend:
    image: waelouf/nanuq-api:latest
    container_name: backend
    networks:
        - nanuq-network
    environment:
        - ASPNETCORE_HTTP_PORTS=5000
    expose:
      - "5000"

  web:
    image: waelouf/nanuq-app:latest
    container_name: web
    networks:
        - nanuq-network
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: unless-stopped

networks:
  nanuq-network:
    driver: bridge